*{
    box-sizing: border-box;
}

body {
    widows: 100vw;
    height: 100vh;
    margin: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    /* 배경에 있는 용사도 화면에 따라 같은 비율로 움직이게 한다. */
  }

#bg{
    position: relative;
}

.bgImg{
   
}

.heroImg{
    overflow: hidden;
    display: inline-block;
    background-image: url("hero.png");
    width: 35px;
    height: 55px;
   

    position: absolute;
    bottom:8px;
    left: 400px;
}

.heroLeft{
    background-position:-70px 0 ;
} 
.heroRight{
    background-position:-100px 0;
}

.enemyImg{
  display: inline-block;
  background-image: url("enemy.png");
  width: 45px;
  height: 45px;
  top : 0px;
  left: 300px;
  position: absolute;
  /* bottom:300px;  */
}
.enemyDie{
    background-position: -70px;
}
#testid{
    top:10px;
}